@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
body {
    font-size:.9rem;
}
a {
    color: #E10B14;
}
h1, h2, h3, h4 {
    text-align: center;
}

#content {
    max-width: 60rem;
    padding: 10px;
    margin: 0px auto;

}
.post-grid {
    display: grid;
    grid-template-columns: 160px auto;

}
.post-grid-content{
    border: 1px solid black;
    padding: 2px;
}
.post-author{
    font-weight: bold;
    padding: 2px;
}
.post-author-admin{
    color: rgba(225, 11, 20, 1);
    background-color: rgba(225, 11, 20, 8%);
    font-weight: bold;
    padding: 2px;
}


.post-author-info{
    display: inline-block;
    font-size: .8em;
    padding: 2px;
}

.post-message{
    padding: 5px;
}
.div-directory-link{
    font-weight: bold;
    margin:5px;
    padding:2px;
    border-bottom: 1px solid #E10B14;
}
.div-directory-link a {
    text-decoration: none;
}
.div-directory-link a:hover {
    text-decoration: underline;
}

.div-main-menu-link{
    text-align: right;
    margin: 5px;
}
.div-main-menu-link a{
    padding: 2px;
}

.div-main-menu-link a:hover{
    text-decoration: none;
}

.topic-grid{
    display: grid;
    grid-template-columns: auto 100px;
    border: 1px solid black;
}
.topic-grid-headers{
    font-size: .9em;
    display: grid;
    grid-template-columns: auto 100px;
    border: 1px solid black;
    text-align: center;
}
.topic-description{
    font-size: .8rem;
    padding: 5px;
}
.topic-header{
    padding: 5px;
}
.topic-name{
    font-weight: bold;
    text-decoration: none;
}
.topic-name:hover{
    text-decoration:underline;
}
.topic-info{
    padding: 5px;
}
.topic-stats{

    margin:auto;
    text-align: center;
    font-size: 1em;
    padding: 5px;
}
.thread-grid {
    display: grid;
    grid-template-columns: auto 100px 100px;
    border: 1px solid black;
}
.thread-grid-headers {
    font-size: .9em;
    display: grid;
    grid-template-columns: auto 100px 100px;
    border: 1px solid black;
    text-align: center;
}
.thread-subject{
    padding: 10px;
    font-weight: bold;
}
.thread-stats{
    text-align: center;
    margin: auto;
    font-size: .9em;
    padding: 5px;
}
.thread-title{
    font-weight:bold;
    text-decoration:none;
}
.thread-title:hover{
    text-decoration:underline;
}

.post-grid-headers{
    font-size: .9em;
    display: grid;
    grid-template-columns: 160px auto;
    border: 1px solid black;
    text-align: center;
}
.post-header{
    padding: 5px;
}
.delete-thread{
    text-align: right;
    font-size: .7rem;
    padding: 2px;
}

.delete-topic{
    display:inline-block;
    text-align: right;
    font-size: .7rem;
    padding: 2px;
}

.no-threads{
    font-size: 1.05rem;
    text-align: center;
    padding: 20px;
}
.button {
    color: #E10B14;
    background-color: white;
    display: inline-block;
    margin: 10px;
    padding: 5px 10px;
    text-decoration:none;
    font-weight: bold;
    font-size: .9rem;
    border: 2px solid #E10B14;
    border-radius: 10px;
}
.button:hover {
    color: white;
    background-color: #E10B14;
}
.register-info{
    margin: 0px 0px 10px 15px;
    font-size: .8em;
    color: #E10B14;
    text-align:center;
}
.error-on{
    margin: 0px 0px 10px 15px;
    font-size: .8em;
    color: #E10B14;
}

.error-off {

}