@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
body {
    margin: 0px;
    background-color: #f7f7f7;
}
header {
    margin 20px 0px 0px 0px;
}
a {
    color: #0074a3;
}
h1, h2, h3, h4 {
    text-align: center;
}
h1 {
    color: #3e6e93;
    margin: 0px;
    padding: 20px 0px 0px 0px;
}
h1 a {
    text-decoration: none;
}
h2{
    color: #f29221;
}
.wrapper {
    max-width: 1600px;
    height: 100%;
    margin: auto;
    padding: 0px;
    background-color: #ffffff;
    color: #555555;
    box-shadow: -2px 0 5px 0 #eee,2px 0 5px 0 #eee;
}
#content {
    padding: 10px;
    margin: 0px auto;
}

.main-nav{
    list-style: none;
    margin: 0px;
    padding:0px;
}
ul li{
    display: inline;
    padding: 0px 10px;
}
ul li a {
    color: #ffffff;
    text-decoration: none;
}
ul li a:hover {
    color: #faedb2;
}


.post-grid {
    display: grid;
    grid-template-columns: 160px auto;
    grid-gap: 1px;

}
.post-grid-content{
    /*border: 1px solid black;*/
    grid-gap:1px;
    padding: 2px;
    outline: 1px solid #555555;
}
.grid-content-center{
    grid-gap:1px;
    padding: 2px;
    outline: 1px solid #555555;
    display: flex;
    justify-content: center;
    align-content: center;
}
.post-author{
    font-weight: bold;
    padding: 2px;

}
.post-author-admin{
    color: #f29221;
    font-weight: bold;
    padding: 2px;

}


.post-author-info{
    display: inline-block;
    font-size: .8em;
    padding: 2px;
}

.post-message{
    padding: 5px;
}
.div-directory-link{
    font-weight: bold;
    padding: 10px;
    border-bottom: 1px solid #0074a3;
}
.div-directory-link a {
    text-decoration: none;
}
.div-directory-link a:hover {
    text-decoration: underline;
}

.div-main-menu-link{
    padding: 20px 50px 20px 10px;
    color: #ffffff;
    background-color: #3e6e93;
    text-align: right;
}
.div-main-menu-link a{
    padding: 2px;
}

.div-main-menu-link a:hover{
    text-decoration: none;
}
.div-main-menu-user {
    padding: 0px 60px 10px 20px;
    color: #3e6e93;
    text-align: right;
}
.div-main-menu-admin {
    padding: 0px 60px 10px 20px;
    color: #f29221;
    text-align: right;
}

.topic-grid{
    display: grid;
    grid-template-columns: auto 100px;
grid-gap:1px;
}
.topic-grid-headers{
    font-size: .9em;
    display: grid;
    grid-template-columns: auto 100px;
    border: 1px solid black;
    text-align: center;
}
.topic-description{
    font-size: .8rem;
    padding: 5px;
}
.grid-header{
    font-size: .9rem;
    text-align: center;
    padding: 5px;
    outline: 1px solid #555555;
    background-color: #f7f7f7;
}
.topic-name{
    font-weight: bold;
    text-decoration: none;
}
.topic-name:hover{
    text-decoration:underline;
}
.topic-info{
    padding: 5px;
        outline: 1px solid #555555;
}
.topic-stats{

    margin:auto;
    text-align: center;
    font-size: 1em;
    padding: 5px;
}
.thread-grid {
    display: grid;
    grid-template-columns: auto 100px 100px;
    grid-gap: 1px;
}

.thread-subject{
    padding: 10px;
    font-weight: bold;
}
.thread-stats{
    margin: auto;
    text-align: center;
    font-size: .9em;
    padding: 5px;
}
.thread-stats-author-admin{
    font-weight:bold;
        margin: auto;
    font-size: .9em;
    color: #f29221;
}
.thread-stats-author-user{
    font-weight:bold;
        margin: auto;
        font-size: .9em;
}
.thread-title{
    font-weight:bold;
    text-decoration:none;
}
.thread-title:hover{
    text-decoration:underline;
}
.post-header{
    font-size: .9em;
    text-align: center;
    padding: 5px;
    outline: 1px solid #555555;
    background-color: #f7f7f7;

}
div.delete-content{
    text-align: right;
    font-size: .8rem;
    font-weight: bold;
    padding: 0px 0px 10px 0px;
}
div.delete-content a {
    color: #F8333C;
}
a.delete-link{
    font-weight: bold;
    color: #F8333C;
    font-size: .8rem;
}
.delete-style{
    font-weight: bold;
    color: #F8333C;
}

.no-content{
    font-size: 1.1rem;
    text-align: center;
    padding: 20px;
}
.button {
    color: #3e6e93;
    background-color: white;
    display: inline-block;
    margin: 10px;
    padding: 5px 10px;
    text-decoration:none;
    font-weight: bold;
    font-size: 1rem;
    border: 2px solid #3e6e93;
    border-radius: 10px;
}
.button:hover {
    color: white;
    border: 2px solid #f29221;
    background-color: #f29221;
}

.page-footer{
    text-align: center;
    font-size: .8rem;
    padding: 10px;
    border-top: 1px solid #3e6e93;
}
