.content-form {
    display: block;
    max-width: 350px;
    margin: auto;
}

label {
    margin: 5px;
}

.input {
    margin: 10px 5px;
    width: 100%;
}
fieldset {
    width: 50%;
    margin: 10px 5px;
}
.input-radio {
    display: inline-block;
    padding: 2px;
}

.form-footer {
    text-align: center;
}