.content-form {
    display: block;
    max-width: 350px;
    margin: auto;
}
.content-new {
    display: block;
    max-width: 700px;
    margin: auto;
}

label {
    margin: 5px;
}

.input{
    line-height: 2rem;
    margin: 10px 5px;
    width: 100%;
    font-size: 1rem;
    padding: 0px 5px
}
.textarea{
    line-height: 1.3rem;
    margin: 10px 5px;
    width: 100%;
    font-size: 1rem;
    padding: 5px 5px
}
.fieldset-form{
    width: 100%;
    border-radius: 5px;
    margin: 10px auto;
}


.input-form{
    border:none;
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
    outline: none;
}
fieldset .gender {
    width: 50%;
    margin: 10px 5px;
    border-radius: 5px;
}
.input-radio {
    display: inline-block;
    padding: 2px;
}
input[type=radio]{
    accent-color: #3e6e93;
}
.form-footer {
    text-align: center;
}
.form-error{
    margin: 10px 0px;
    font-size: .8rem;
    color: #E10B14;
    text-align:center;
}
.form-info{
    margin: 10px 0px;
    font-size: .8rem;
    color: #f29221;
    text-align:center;
}
.error-on{
    margin: 0px 0px 10px 15px;
    font-size: .8em;
    color: #E10B14;
}

.error-off {

}
.register-link{
    text-align:center;
    font-size: .8em;
    padding: 2px;
}
.register-link a{
    text-decoration: none;
}
.register-link a:hover{
    text-decoration: underline;
}