.content-login {
    display: block;
    max-width: 350px;
    margin: auto;
}

label {
    margin: 5px;
}

.input {
    margin: 10px 5px;
    width: 100%;
}
fieldset {
    width: 50%;
    margin: 10px 5px;
}
.input-radio {
    display: inline-block;
    padding: 2px;
}

.error-on{
    margin: 0px 0px 10px 15px;
    font-size: .8em;
    color: #E10B14;
}

.error-off {

}