.users-table {
    display: grid;
    grid-template-columns: 20% 15% 15% 20% 10% 10% auto;
    grid-template-rows: [header-start] auto;
    grid-gap: 1px;
}

.users-table .user-row, .users-table .users-header {
    display: flex;
    padding: 5px;
    position: relative;
    outline: 1px solid #555555;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.users-header{
    font-size: .9rem;
    background: #f7f7f7;
    grid-row: header;
    text-align: center;
}
.user-row div {
    position: relative;
    justify-self: center;
}

.user-row-wrapper {
    display: contents;
}
.user-row-wrapper:hover > div{
    background-color: #f7f7f7;
}