<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments.html :: head-meta}"></th:block>
    <link rel="stylesheet" href="/form.css">
    <script src="/login-validator.js"></script>

</head>
<body>
<th:block th:replace="~{fragments.html :: page-header}"></th:block>

<div id="content">
    <th:block
            th:replace="${logged} ? ~{fragments.html :: main-menu-link-logged} : ~{fragments.html :: main-menu-link}"></th:block>

    <th:block th:replace="~{fragments.html :: directory-link}"></th:block>

    <div class="content-form">
        <h4>Podaj dane logowania</h4>
        <form method="post" onsubmit="return validate()">
            <label for="login">Login: </label><br>
            <input type="text" name="login" id="login" class="input">
            <div id="login-error"></div>

            <label for="password">Hasło: </label>
            <input type="password" name="password" id="password" class="input">
            <div id="password-error"></div>
            <div class="form-footer">
                <input type="submit" value="Zaloguj" class="button">
            </div>
        </form>
    </div>
</div>
</body>
</html>