<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments.html :: head-meta}"></th:block>
    <link rel="stylesheet" href="/form.css">
    <script src="/register-validator.js"></script>
</head>
<body>
<div class="wrapper">
    <header>
        <th:block th:replace="~{fragments.html :: page-header}"></th:block>
    </header>
    <section id="content">
        <div class="content-form">
            <h3>Podaj dane rejestracyjne</h3>
            <div th:text="${formInfo}" class="form-info"></div>
            <div th:text="${formError}" class="form-error"></div>
            <form method="post" onsubmit="return validate()">
                <fieldset class="fieldset-form">
                    <legend>Login</legend>
                    <input type="text" class="input-form" id="login" th:field="*{userModel.login}" autofocus><br>
                </fieldset>
                <div id="login-error"></div>

                <fieldset class="fieldset-form">
                    <legend>Hasło</legend>
                    <input type="password" class="input-form" id="password" th:field="*{userModel.password}">
                </fieldset>
                <div id="password-error"></div>

                <fieldset class="fieldset-form">
                    <legend>Powtórz hasło</legend>
                    <input type="password" class="input-form" id="password2" name="password2">
                </fieldset>
                <div id="password2-error"></div>

                <fieldset class="fieldset-form">
                    <legend>E-mail</legend>
                    <input type="text" class="input-form" id="email" th:field="*{userModel.email}">
                </fieldset>
                <div id="email-error"></div>

                <fieldset class="fieldset-form">
                    <legend>Data urodzenia</legend>
                    <input type="date" class="input-form" id="birthday" th:field="*{userModel.birthday}">
                </fieldset>
                <div id="birthday-error"></div>

                <fieldset class="fieldset-form">
                    <legend>Płeć</legend>
                    <input type="radio" id="male" name="gender" value="MALE"
                           th:field="*{userModel.gender}" checked="checked">
                    <label class="input-radio" for="male">Mężczyzna</label><br>

                    <input type="radio" id="female" name="gender" value="FEMALE"
                           th:field="*{userModel.gender}">
                    <label class="input-radio" for="female">Kobieta</label><br>
                </fieldset>
                <div id="gender-error"></div>

                <fieldset class="fieldset-form">
                    <legend>Skąd</legend>
                    <input type="text" class="input-form" id="place" th:field="*{userModel.place}">
                </fieldset>
                <div id="place-error"></div>

                <div class="form-footer">
                    <input type="submit" value="Zarejestruj" class="button">
                    <input type="reset" value="Wyczyść formularz" class="button">
                </div>
            </form>
        </div>
    </section>
    <footer>
        <th:block th:replace="~{fragments.html :: page-footer}"></th:block>
    </footer>
</div>
</body>
</html>