<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments.html :: head-meta}"></th:block>
    <link rel="stylesheet" href="/form.css">
    <script src="/login-validator.js"></script>

</head>
<body>
<th:block th:replace="~{fragments.html :: page-header}"></th:block>

<div id="content">
    <th:block
            th:replace="${logged} ? ~{fragments.html :: main-menu-link-logged} : ~{fragments.html :: main-menu-link}"></th:block>

    <th:block th:replace="~{fragments.html :: directory-link}"></th:block>

    <div class="content-form">
        <h4>Wyszukiwarka</h4>
        <div th:text="${error}" class="register-error"></div>
        <form method="post" onsubmit="return validate()">
            <label for="query">Szukany tekst: </label><br>
            <input type="text" name="query" id="query" class="input">
            <div id="query-error"></div>


            <div class="form-footer">
                <input type="submit" value="Szukaj" class="button">
            </div>
        </form>
    </div>
</div>
</body>
</html>