<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments.html :: head-meta}"></th:block>
    <link rel="stylesheet" href="/form.css">
    <script src="/login-validator.js"></script>

</head>
<body>
<th:block th:replace="~{fragments.html :: page-header}"></th:block>

<div id="content">
    <th:block
            th:replace="${logged} ? ~{fragments.html :: main-menu-link-logged} : ~{fragments.html :: main-menu-link}"></th:block>

    <th:block th:replace="~{fragments.html :: directory-link}"></th:block>

    <div class="content-form">
        <h3>Wyszukiwarka</h3>
        <div th:text="${error}" class="register-error"></div>
        <form method="get">
            <label for="query">Szukany tekst: </label><br>
            <input type="search" name="query" id="query" class="input" autofocus>
            <div id="query-error"></div>


            <div class="form-footer">
                <input type="submit" value="Szukaj" class="button">
            </div>
        </form>
    </div>

    <th:block th:if="${posts.size() > 0}">
        <div class="post-grid-headers">
            <div class="post-header">Autor</div>
            <div class="post-header">Wiadomość</div>
        </div>


        <div th:each="post : ${posts}" class="post-grid">
            <div class="post-grid-content" th:with="currentUser=${users.getUserById(post.authorId)}">

                <div th:text="${currentUser.login}"
                     th:class="${currentUser.function == T(com.kuba.forum.model.User.Function).ADMIN} ? 'post-author-admin' : 'post-author'">
                </div>

                <div th:text="${currentUser.function.toString()}" class="post-author-info"></div>

                <div class="post-author-info">
                    <div th:text="'Wiek: ' + ${currentUser.getAge()}"></div>
                    <div th:text="'Płeć: ' + ${currentUser.gender.toString()}"></div>
                    <div th:text="'Dołączenie: ' + ${currentUser.getPrettyJoinDate()}"></div>
                    <div th:text="'Posty: ' + ${users.getNumberOfPosts(post.authorId)}"></div>
                    <div th:text="'Skąd: ' + ${currentUser.place}"></div>
                </div>

            </div>
            <div class="post-grid-content">
                <div>
                    <span th:text="'Wysłano: ' + ${post.getPrettyDate()}" class="post-author-info"></span>
                </div>
                <div th:text="${post.contents}" class="post-message"></div>
            </div>
        </div>
    </th:block>
</div>
</body>
</html>