<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="~{fragments.html :: head-meta}"></th:block>
</head>
<body>
<th:block th:replace="~{fragments.html :: under-construction}"></th:block>

<div id="content">
  <th:block th:replace="${logged} ? ~{fragments.html :: main-menu-link-logged} : ~{fragments.html :: main-menu-link}"></th:block>
  <th:block th:replace="~{fragments.html :: directory-link}"></th:block>

  <div th:each="post : ${posts}" class="post">
    <div th:text="${users.getUserById(post.authorId).getLogin()}"  class="post-authorId"></div>
    <div th:text="${post.contents}"  class="post-contents"></div>
  </div>

  <div>
    <a th:href="@{/thread/new-thread/{topic.id}(topic.id=${{topic.id}})}">Nowy temat</a>
  </div>

</div>
</body>
</html>