<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments.html :: head-meta}"></th:block>
</head>
<body>
<th:block th:replace="~{fragments.html :: page-header}"></th:block>

<div id="content">
    <th:block
            th:replace="${logged} ? ~{fragments.html :: main-menu-link-logged} : ~{fragments.html :: main-menu-link}"></th:block>
    <th:block th:replace="~{fragments.html :: directory-link}"></th:block>

    <div th:if="${admin}" class="delete-thread">
        <a th:href="@{/topic/{topicId}/delete-topic(topicId=${topic.id})}"
           onclick="return confirm('Czy na pewno chcesz usunąć to forum?')" class="delete-topic">Usuń forum</a>
    </div>

    <th:block th:if="${threads.size() > 0}">
        <div class="thread-grid-headers">
            <div class="topic-header">Tematy</div>
            <div class="topic-header">Autor</div>
            <div class="topic-header">Odpowiedzi</div>
        </div>
    </th:block>

    <div th:each="thread : ${threads}" class="thread-grid">
        <div class="thread-subject">
            <a th:text="${thread.subject}" th:href="'/thread/' + ${thread.id}" class="thread-title"></a>
            <a th:href="@{/thread/{threadId}/delete-thread(threadId=${thread.id})}"
               onclick="return confirm('Czy na pewno chcesz usunąć ten temat?')" class="delete-thread">Usuń temat</a>
        </div>
        <div th:text="${authors.getUserById({thread.authorId}).login}"
             th:class="${authors.getUserById({thread.authorId}).function == T(com.kuba.forum.model.User.Function).ADMIN} ? 'thread-stats-author-admin' : 'thread-stats-author-user'"
        ></div>
        <div th:text="${replys.getPostsFromThread({thread.id}).size() - 1}" class="thread-stats"></div>
    </div>

    <div th:if="${threads.size() == 0}" class="no-threads">Na tym forum nie ma jeszcze żadnych tematów.</div>
    <div>
        <a th:href="@{/thread/new-thread/{topic.id}(topic.id=${{topic.id}})}" class="button">Nowy temat</a>
    </div>

</div>
</body>
</html>